@model MVCusingSQLviewAutoGen.Models.DepartmentModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailDepartment</title>
</head>
<body>
    <div>
        <h4>DepartmentModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.depno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.depno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.location)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.location)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "UpdateDepartment", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
