@model IEnumerable<MVCExample3.Models.DepartmentModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>
            @Html.ActionLink("Create New", "InsertDepartment")
        </p>
        <table border="1" class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.depno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.location)
                </th>
            </tr>

            @if (Model !=null)
            {
                foreach (var item in Model)
                {
             <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.depno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>

                <td>
                    @Html.ActionLink("Edit", "UpdateDepartment", new { id = item.depno }) |
                    @Html.ActionLink("Details", "DetailDepartment", new { id = item.depno }) |
                    @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.depno }) |
                </td>
            </tr>
                }
            }

        </table>

    </div>
</body>
</html>
